.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volver {
  border-radius: 1rem;
  border: 3px solid white;
  color: white;
}
.cajas {
  border: 3px solid white;
  width: 5rem;
  height: 4rem;
  color: white;
  border-radius: 1rem;
}
